body {
    margin: 0;
}

#tree-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

#interface {
    user-select: none;
}

#report {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-family: sans-serif;
}

#report span {
    display: block;
}