body {
    margin: 0;
}

#tree-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

#interface {
    user-select: none;
    font-family: sans-serif;
}

#interface table tr.hidden {
    visibility: collapse;
}

#interface table .header {
    background-color: #d9d9d9;
    font-weight: bold;
    font-style: italic;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#interface table .header:hover {
    background-color: #757575;
    color: white;
    cursor: pointer;
}

#interface table button {
    width: 100%;
}

#report {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-family: sans-serif;
}

#report span {
    display: block;
}